venv/
__pycache__/
.env
db/*.db
db/faiss.index
db/memory_store.pkl
data/tickets_raw.csv
data/tickets_clean.csv
data/demo_tickets.csv
ITSM_data.csv
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.Python
env/
instance/
_static/
_templates/
_build/
.vscode/
.idea/
dashboard/node_modules/
dashboard/dist/
.idea/
*.log
